@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Black.otf") format("opentype");
  font-weight: 700;
}

html {
	height: 100%;
  overflow-x: hidden;
}

body {
	position: relative;
	font-family: "Circular", "helvetica", sans-serif;
	font-style: normal;
	line-height: 1.5;
	font-size: 20px;
	color: #FFFFFF;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	overflow-x: hidden;
}

a {
  color: inherit;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.content__section4 a {
  color: #FF8B89;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 70px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin: 0 auto;
  font-size: 20px;
  opacity: 0.9;

  color: rgba(0,0,0,0.8);
}


button {
  display: inline-block;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 30px;
  color: #FFFFFF;
  background-color: #FB627A;
  border-radius: 2px;
  margin: 10px 0;
}

.content__text {
  width: 750px;
  margin: auto;
  text-align: left;
}

.description {
	font-size: 20px;
	margin-bottom: 30px;
	color: #E4E5EA;
	padding-top: 0;
}

.title {
  font-size: 2.3em;
  line-height: 1.2;
}


hr {
  border-bottom: 1px solid #B2B2B2;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

img {
  pointer-events: none; /* disable dragging images */
}

.logo {
  max-height: 250px;
  margin: 20px auto 0;
  opacity: 0.95;
}

.cover {
  height: 100vh;
}

.background {
  height: 100vh;
}

.cover__container {
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.background {
	background-image: url(../img/pattern3.png);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}


/* SOCIAL ICONS */
.icon__container {
  margin-top: 18px;
  opacity: 0.65;
}

.social__icon {
  height: 35px;
  padding: 0 15px;
  width: auto;
}


/* RESPONSIVENESS */
@media (max-width: 980px) {
  .cover {
    height: 95vh;
    padding: 0 30px 0 30px;
  }

	.cover_container {
    width: 80vh;
		padding: 0 20px;
	}

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }

	button {
    font-size: 12px;
    padding: 7px 25px;
	}
}


/*@media all and (max-width: 600px) {*/
@media (max-width: 600px) {
  p {
    font-size: 16px;
  }

	h1 {
    font-size: 33px;
    line-height: 50px;
	}

  h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #date-container {
    width: 200px;
    margin: 0 auto;
  }


  .logo {
    max-height: 150px;
  }

  .title {
    font-size: 1.8em;
  }
}
/*tessting*/
